In [1]:
#Question 1:

a = 0  

def b():     
    global a    
    a = c(a)

def c(a):     
    return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

Explanation for Question 1: 

Initally, the value of a is assigned to 0. 
a is declared as a global variable inside the function, but it will have a scope throughout the program. This means that the vlaue of a is accessible throughout the program. 

When b() is called for the first time, the value of a, that is 0, is passed to c() and 2 is returned. 
When b() is called for the second time, the updated value of a, that is 2 is passed to c() because a is declared as a global variable and 4 is returned. 
When b() is called for the third time, the updated value of a, that is 4 is passed to c() because a is declared as a global variable and 6 is returned. 

Now, when the value of a is printed, it will show 6.

In [10]:
#Question 2:

def file_length(file_name):
    
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
        
    except Exception as e:
        print('File',format(file_name),'not found')

file_length('Introduction.txt')
file_length('Hello.txt')

44
File Hello.txt not found

In [13]:
#Question 3:

class Marsupial():
    content = []
    def __init__(self):
        self.content = []
    def put_in_pouch(self,var):
        self.content.append(var)
    def pouch_contents(self):
        print(self.content)

m = Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

class Kangaroo(Marsupial):
    x = 0
    y = 0
    def __init__(self,x,y):
        self.x = x
        self.y = y
    def __str__(self):
        return 'I am a Kangaroo located at coordinates (' + str(self.x) + ',' + str(self.y)  + ')'
    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy
        
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [14]:
#Question 4:

def collatz(x):
    print(x)
    if x % 2 == 0:
        return collatz(int(x / 2))
    elif x == 1:
        return
    else:
        return collatz(3 * x + 1)

In [15]:
collatz(1)

1

In [16]:
collatz(10)

10
5
16
8
4
2
1

In [67]:
#Question 5:

num = int(input("Enter a non-negative integer: "))

def binary(num):
    if num == 0:
        return 0
    else:
        return (num % 2 + 10 * binary(int(num / 2)))

binary(num)

Enter a non-negative integer: 3

11

In [69]:
#Question 6:

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    common_headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
    
    def tag_beginning(self, tag, attrs):
        if tag in self.common_headers:
            print(tag)
            
    def tag_ending(self, tag):
        if tag in self.common_headers:
            print(tag)
            
    def handle_data(self, data):
        print(data)
        
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission Summary






W3C Mission



The W3C mission is to lead the World Wide Web to its full potential

by developing protocols and guidelines that ensure the long-term growth of the Web.



Principles




Web for All


Web on Everything



See the complete
W3C Mission document
.

In [49]:
#Question 7:

from bs4 import BeautifulSoup
import requests
   
def webdir(url, depth, indent):
    if depth > 0:
        depth -= 1
        indent += 1
        try:
            response = requests.get(url)
        except:
            pass
        parsed_text = BeautifulSoup(response.text,"html.parser")
        for i in parsed_text.find_all("a"):
            href = i.attrs['href']
            if href.startswith("http"):
                new_url = href
            elif href.startswith("mail"):
                continue
            else:
                new_url = url.rsplit('/', 1)[0]+"/"+href
            print('\t'*indent + new_url)
            webdir(new_url, depth, indent)

url = "http://reed.cs.depaul.edu/lperkovic/test1.html"
webdir(url, 2, 0)

	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test4.html
	http://reed.cs.depaul.edu/lperkovic/test3.html
		http://reed.cs.depaul.edu/lperkovic/test4.html

In [50]:
#Question 8:

import sqlite3
con = sqlite3.connect('climate.db')
cur = con.cursor()
cur.execute("CREATE TABLE CLIMATE (City, Country, Season, Temperature, Rainfall)")
cur.execute("INSERT INTO CLIMATE VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO CLIMATE VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO CLIMATE VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO CLIMATE VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO CLIMATE VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO CLIMATE VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO CLIMATE VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO CLIMATE VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO CLIMATE VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO CLIMATE VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO CLIMATE VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO CLIMATE VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

In [52]:
cur.execute('SELECT Temperature FROM CLIMATE')
print(cur.fetchall())

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [54]:
cur.execute('SELECT DISTINCT City FROM CLIMATE')
print(cur.fetchall())

[('Mumbai',), ('London',), ('Cairo',)]

In [55]:
country = 'India'
cur.execute('SELECT * FROM CLIMATE WHERE Country = ?', (country,))
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [57]:
season = 'Fall'
cur.execute('SELECT * FROM CLIMATE WHERE Season = ?', (season,))
print(cur.fetchall())

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [59]:
rainfall1 = 200
rainfall2 = 400
cur.execute('SELECT city, country, season FROM CLIMATE WHERE Rainfall BETWEEN ? AND ?', (rainfall1,rainfall2,))
print(cur.fetchall())

[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

In [61]:
season = 'Fall'
temperature = 20
cur.execute('SELECT city, country FROM CLIMATE WHERE Season = ? AND Temperature > ? ORDER BY Temperature', (season,temperature,))
print(cur.fetchall())

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [62]:
city = 'Cairo'
cur.execute('SELECT SUM(Rainfall) FROM CLIMATE WHERE City = ?', (city,))
print(cur.fetchall())

[(27.6,)]

In [63]:
season1 = 'Winter'
season2 = 'Spring'
season3 = 'Summer'
season4 = 'Fall'

cur.execute('SELECT SUM(Rainfall) FROM CLIMATE WHERE Season = ?', (season1,))
print(cur.fetchall())
cur.execute('SELECT SUM(Rainfall) FROM CLIMATE WHERE Season = ?', (season2,))
print(cur.fetchall())
cur.execute('SELECT SUM(Rainfall) FROM CLIMATE WHERE Season = ?', (season3,))
print(cur.fetchall())
cur.execute('SELECT SUM(Rainfall) FROM CLIMATE WHERE Season = ?', (season4,))
print(cur.fetchall())

[(230.1,)]
[(192.29999999999998,)]
[(1706.5,)]
[(569.0,)]

In [66]:
#Question 9:

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

upper_words = []
for w in words:
    upper_words.append(w.upper())
print(upper_words)  

lower_words = []
for w in words:
    lower_words.append(w.lower())
print(lower_words)

len_words = []
for w in words:
    len_words.append(len(w))
print(len_words)

mix_words = []
for w in words:
    mix_words.append([w.upper(),w.lower(),len(w)]  )
print(mix_words)
                   
less_words = []
for w in words:
    if len(w)>=4:
        less_words.append(w )
print(less_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']